## Copyright (C) 2019 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: hardened-malloc
Section: libs
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 12), dh-exec, clang, llvm-7-dev, clang-tidy
Homepage: https://github.com/GrapheneOS/hardened_malloc
Vcs-Browser: https://github.com/GrapheneOS/hardened_malloc
Vcs-Git: https://github.com/GrapheneOS/hardened_malloc.git
Standards-Version: 4.3.0

Package: hardened-malloc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: security-focused general purpose memory allocator
 This is a security-focused general purpose memory allocator providing the
 malloc API along with various extensions. It provides substantial hardening
 against heap corruption vulnerabilities. The security-focused design also
 leads to much less metadata overhead and memory waste from fragmentation than
 a more traditional allocator design. It aims to provide decent overall
 performance with a focus on long-term performance and memory usage rather than
 allocator micro-benchmarks. It offers scalability via a configurable number of
 entirely independently arenas, with the internal locking within arenas further
 divided up per size class.
 .
 It can be added as a preloaded library using /etc/ld.so.preload.
 .
 Ships two files:
 .
  * [1] /usr/lib/libhardened_malloc.so/libhardened_malloc.so
  * [2] /usr/lib/libhardened_malloc.so/libhardened_malloc_kicksecure.so
 .
 [1] Is was compiled with Hardened Malloc compilation parameters.
 .
 [2] Uses a modified configuration that aims to be suitable to be enabled by
 default in Whonix and Kicksecure. It is a lightweight fork of Hardened
 Malloc by Kicksecure developers with no other changes than compilation
 parameters.

Package: hardened-malloc-kicksecure-enable
## Actually is 'Architecture: all' but genmkfile cannot handle that a package
## being a mix of 'Architecture: any' and 'Architecture: all' yet.
Architecture: any
Depends: hardened-malloc, helper-scripts, ${shlibs:Depends}, ${misc:Depends}
Description: enables Hardened Malloc
 Adds /usr/lib/libhardened_malloc.so/libhardened_malloc_kicksecure.so to
 /etc/ld.so.preload systemd wide configuration file.
 .
 Does this only once per installation. The user is free to undo changes to
 /etc/ld.so.preload. Once this package is purged and re-installed it will
 re-enable the lightweight fork of Hardened Malloc by Kicksecure developers.
 .
 Other than doing that this is an empty package.
