## Copyright (C) 2019 - 2022 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

Source: hardened-malloc
Section: libs
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@whonix.org>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), dh-exec, clang, llvm-11-dev, clang-tidy
Homepage: https://github.com/GrapheneOS/hardened_malloc
Vcs-Browser: https://github.com/GrapheneOS/hardened_malloc
Vcs-Git: https://github.com/GrapheneOS/hardened_malloc.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: hardened-malloc
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: security-focused general purpose memory allocator
 This is a security-focused general purpose memory allocator providing the
 malloc API along with various extensions. It provides substantial hardening
 against heap corruption vulnerabilities. The security-focused design also
 leads to much less metadata overhead and memory waste from fragmentation than
 a more traditional allocator design. It aims to provide decent overall
 performance with a focus on long-term performance and memory usage rather than
 allocator micro-benchmarks. It offers scalability via a configurable number of
 entirely independently arenas, with the internal locking within arenas further
 divided up per size class.
 .
 It can be added as a preloaded library using /etc/ld.so.preload.
 .
 Ships two files:
 .
  * [1] /usr/lib/libhardened_malloc.so/libhardened_malloc.so
  * [2] /usr/lib/libhardened_malloc.so/libhardened_malloc-light.so
 .
 [1] Was compiled with Hardened Malloc Default compilation parameters.
 .
 [2] Was compiled with Hardened Malloc Light compilation parameters.

Package: hardened-malloc-light-enable
## Actually is 'Architecture: all' but genmkfile cannot handle that a package
## being a mix of 'Architecture: any' and 'Architecture: all' yet.
Architecture: amd64
Depends: hardened-malloc, helper-scripts, ${shlibs:Depends}, ${misc:Depends}
Replaces: hardened-malloc-kicksecure-enable
Provides: hardened-malloc-kicksecure-enable
Description: enables Hardened Malloc Light
 Adds /usr/lib/libhardened_malloc.so/libhardened_malloc-light.so to
 /etc/ld.so.preload systemd wide configuration file.
 .
 Does this only once per installation. The user is free to undo changes to
 /etc/ld.so.preload. Once this package is purged and re-installed it will
 re-enable the Hardened Malloc Light.
 .
 Other than doing that this is an empty package.

Package: hardened-malloc-kicksecure-enable
Architecture: amd64
Depends: hardened-malloc-light-enable, ${shlibs:Depends}, ${misc:Depends}
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
 .
 Legacy.
 .
 Other than doing that this is an empty package.
