#!/usr/bin/make -f

## Copyright (C) 2016 - 2023 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#export DH_VERBOSE=1

## -gdwarf-4 requried because of:
## dwz: Unknown debugging section .debug_addr causes some builds to fail
## https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1016936
export DEB_CFLAGS_MAINT_APPEND += -gdwarf-4
export DEB_CXXFLAGS_MAINT_APPEND += -gdwarf-4

CC  := clang

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs changelog.upstream upstream

override_dh_auto_build:
	dh_auto_build -- CONFIG_NATIVE=false CC=$(CC)
	dh_auto_build -- CONFIG_NATIVE=false CC=$(CC) VARIANT=light

## Tests failing inside (cowbuilder) chroot.
## https://github.com/GrapheneOS/hardened_malloc/issues/119
# override_dh_auto_test:
# 	true
