#!/usr/bin/make -f

## Copyright (C) 2016 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#export DH_VERBOSE=1

CC  := clang

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs changelog.upstream upstream

override_dh_auto_build:
	dh_auto_build -- libhardened_malloc.so CONFIG_NATIVE=false CC=$(CC)
	mv libhardened_malloc.so libhardened_malloc.so_original
	make clean
	dh_auto_build -- libhardened_malloc.so CONFIG_NATIVE=false CC=$(CC) CONFIG_SLAB_QUARANTINE_RANDOM_LENGTH=0 CONFIG_SLAB_QUARANTINE_QUEUE_LENGTH=0 CONFIG_GUARD_SLABS_INTERVAL=8
	mv libhardened_malloc.so libhardened_malloc.so_kicksecure

## Tests failing inside (cowbuilder) chroot.
## https://github.com/GrapheneOS/hardened_malloc/issues/119
## Test failing on travis CI.
## https://api.travis-ci.com/v3/job/387405272/log.txt
override_dh_auto_test:
	true
