#!/usr/bin/make -f

## Copyright (C) 2016 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

#export DH_VERBOSE=1

CC  := clang

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs changelog.upstream upstream

override_dh_auto_build:
	dh_auto_build -- CONFIG_NATIVE=false CC=$(CC)
	dh_auto_build -- CONFIG_NATIVE=false CC=$(CC) VARIANT=light

## Tests failing inside (cowbuilder) chroot.
## https://github.com/GrapheneOS/hardened_malloc/issues/119
## Test failing on travis CI.
## https://api.travis-ci.com/v3/job/387405272/log.txt
override_dh_auto_test:
	true
